__pycache__
/refinery/data/units.pkl
/refinery/**/*.c
/refinery/**/*.pyd
/refinery/**/*.so
/venv*
/temp*
/html
/build
/share
/lib
/dist
/pyvenv.cfg
/lib64
*.egg-info
*.eggs
*.pyc
mptest.errors