__pycache__
/refinery/**/*.c
/refinery/**/*.pyd
/refinery/**/*.pyd.old
/refinery/**/*.so
/refinery/**/*.so.old
/venv*
/temp*
/html
/build
/share
/lib
/dist
/pyvenv.cfg
/lib64
*.egg-info
*.eggs
*.pyc
mptest.errors
.coverage
coverage.json