include requirements.txt
include README.md
include LICENSE.md
include refinery/data/winapi.json
include refinery/data/rich.json
include refinery/data/pwsh-meta.json.xz
include refinery/data/pwsh-types.json.xz
include refinery/data/pwsh-commands.json.xz
include refinery/data/pwsh-variables.json.xz
include refinery/data/pwsh-wmi.json.xz
include refinery/data/pwsh-operators.json.xz
recursive-include refinery/lib/fast *.pyx
recursive-include refinery/lib/fast *.pxd
recursive-include refinery/lib/seven *.pyx
