asn1crypto
capstone
chardet
colorama
defusedxml
extract_msg
javaobj-py3>=0.4.0.1
macholib
msgpack
numpy
openpyxl
pefile
phpserialize 
Pillow
pycryptodome
pyelftools
pyperclip
python-magic
python-registry
xlrd